/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

body {
    background: linear-gradient(to right, black, #082519);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    gap: 30px;
}
  /*------------------ MAIN*-----------------*/
  
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
     
  }

/*----------------------HEADER---------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: aliceblue;
    background: linear-gradient(to right, black, #082519); /* Cambia 'blue' por el color deseado */
  
}
  
  .header {
    display: flex;
    align-items: center;

  }



  .header__logo img {
    width: 100px; /* Ajusta el ancho según la imagen */
    height: auto;
  }

@font-face {
    font-family: 'Educations';
    src: url('Fonts/Educations.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Mejora la carga de la fuente */
}

.header__title {
    font-family: 'Educations'; /*  fuente 'Educations' */
    font-size: 45px;
    font-weight: bold;
}



  
  .header__switch {

    cursor: pointer;
    
  }